@import "../../../styles/abstract/mixins";

form {
  position: relative;
}

.contact-form {
  border-radius: 1rem;

  label {
    font-size: 1.2rem;
  }

  .label-group {
    display: flex;
    align-items: center;

    span {
      color: red;
      font-size: 1.4rem;
      margin-left: 5px;
    }
  }
  input {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
  }
}

.clear {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 2rem;
  height: 2rem;
  border: 1px solid black;
  border-radius: 50%;
}

.search--form-web,
.search--form-mobile {
  padding: 1.5rem;
  font-size: 1.6rem;
  border-radius: 5px;
  display: flex;
  gap: 1rem;
  border: 1px solid black;

  input {
    width: 100%;
    border: none;
    background-color: var(--white);

    &:focus {
      border: none;
    }
  }
}

.search--form-web {
  width: 50%;

  @include respond(phone) {
    display: none;
  }
}

.search--form-mobile {
  width: 100%;

  @include respond(minPhone) {
    display: none;
  }
}
