@import "../abstract/mixins";

//resets
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
}

.container {
  max-width: 100rem;
  margin: 0 auto;
  border: 2px solid black;
  display: grid;
  padding: 6rem 2rem;

  @include respond(tab-port) {
    padding: 6rem 6vw;
    // font-size: 51%;
  }
}

input {
  outline: none;
  border: 1px solid #e4e4e4;

  &:focus {
    border: 2px solid #d0d5dd;
  }
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
