@import "../abstract/mixins";

//resets
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;

  @include respond(phone) {
    font-size: 40%;
  }
}

body {
  font-size: 1.6rem;
}

.container {
  max-width: 100rem;
  margin: 0 auto;
  border: 2px solid black;
  display: grid;
  padding: 6rem 2rem;

  @include respond(tab-port) {
    padding: 6rem 6vw;
    // font-size: 51%;
  }
}

input {
  outline: none;
  border: 1px solid #e4e4e4;
  border-radius: 3px;
  background-color: #f9f9f9;

  &:focus {
    border: 1px solid #004de5;
    // box-shadow: 0px 0px 0px 5px rgba(217, 229, 255, 0.45);
  }
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
