@import "../../styles/abstract/mixins";

.register {
  .page__container {
    display: flex;
    align-items: center;
    min-height: 100vh;

    .left {
      width: 40vw;
      height: 100vh;
      background-color: black;

      @include respond(phone) {
        display: none;
      }
    }

    .right {
      width: 60vw;
      padding: 0 6vw;

      @include respond(phone) {
        width: 100vw;
      }
    }
  }

  .form__container {
    max-width: 400px;
    margin: auto;
    padding: 3rem;
    // box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.15);

    display: flex;
    flex-direction: column;
    gap: 2rem;

    h1 {
      font-size: 2rem;
    }
    h3 {
      font-size: 1.4rem;
    }
    p {
      font-size: 1.2rem;
    }
  }

  form {
    .form_group {
      margin: 1.5rem 0;
    }

    .form_group {
      input,
      label,
      span {
        display: block;
      }

      input {
        width: 100%;
        padding: 1.5rem;
        font-size: 1.6rem;
        background-color: rgb(239, 239, 239);
      }

      label {
        margin-bottom: 0.5rem;
      }
    }

    span {
      margin-top: 1rem;
      display: block;
    }
  }
}

/* Forms */
/* 

input {
  margin: 1.2rem 0;
}

.form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
select,
textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

input[type="submit"],
button {
  font: inherit;
}

.form-group {
  margin: 1.2rem 0;
}

.form-group input {
  margin: 0.2rem 0;
}

.form-container {
  max-width: 500px;
  margin: 2rem auto;
  overflow: hidden;
  padding: 0 2rem;
}

.form-container h1,
h2,
h3 {
  text-align: center;
} */
